body{
  background-color: #556B35;
}
.melon{
  background-image: url(icons/melon.png);
  height: 48px;
  width: 48px;
}
.cucumber{
  background-image: url(icons/cucumber.png);
  height: 48px;
  width: 48px;
}
.tomato{
  background-image: url(icons/tomato.png);
  height: 48px;
  width: 48px;
}
.empty{
  height: 48px;
  width: 48px;
  border: 2px solid green;
}
.money{
  background-image: url(icons/coin.png);
  display: inline-block;
  width: 48px;
  height: 48px;

}
#coin{
  position: absolute;
  top: 20px;
  left: 300px;
}
#showMoney{
  position: absolute;
  top: 25px;
  left: 350px;
  color: gold;
  font-size: 35px;
}
